.page{
    height: auto;
    
}

.cont h2{
    text-align: center;

}

.tab{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px;
    font-size: 0.6rem;
}