* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: noto sans;
    margin: auto;
}

.page {
    height: auto;

}


@media only screen and (min-width: 320px) and (max-width: 640px) {

    .page {
        width: 90%;
    }

    .image {
        width: 223px;
        height: 223px;
        margin-top: 20px;

    }

    .name{
        padding: 5px;
        margin: 10px;
        width: 90%;
        margin: auto;
    }

    .name h2{
        text-align: center;
    }

    .pos{
        padding: 5px;
        /* margin: 10px; */
        width: 90%;
        margin: auto;

    }
    
    .pos h4{
        text-align: center;
    }

    .contact{
        margin-top:30px;
        margin-bottom: 30px;
        width: 100%;
        /* flex type */
        display: flex;
        font-size: small;


    }

    .info{
        text-align: justify;

    }






}